/**
 * Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 */

.wp-block-cgb-block-custom-slider {
	background: $green;
	border: 0.2rem solid $black;
	color: $black;
	margin: 0 auto;
	max-width: 740px;
	padding: 2rem;
}
.color-picker-label {
	display: inline-block;
	margin-bottom: 12px;
}

.components-button-group.slider-item-action-btns {
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 1;
	background-color: #fafafa;
	border: 1px solid #1e1e1e;
	button {
		box-shadow: none;
		.dashicon {
			color: #1e1e1e;
		}
	}
}

.cancel_media_upload {
	position: absolute;
	right: 0;
	top: 5%;
}

.block-editor-media-placeholder.media-slider-appender {
	margin-top: 20px;
}
