/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.gutenberg-custom-slider {
	position: relative;
	.slider-wrapper {
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		.slider {
			display: flex;
			width: 100%;
			transition: 400ms;
			transform: translateX(0);
			.slider-item {
				position: relative;
				flex-basis: 100%;
				max-width: 100%;
				min-width: 100%;
				height: fit-content;
				img,
				video {
					height: auto;
					width: 100%;
					z-index: -1;
				}
				.cta-btn {
					position: absolute;
					top: 5%;
					right: 5%;
					z-index: 1;
				}
			}
		}
	}

	.slider-nav-btns {
		position: absolute;
		bottom: 50%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.slider-nav-btn {
			z-index: 1;
			display: inline-flex;
			padding: 10px;
			border: 1px solid #2084f9;
			position: absolute;
			cursor: pointer;
			background-color: #fafafa !important;
			transition: 0.3s;
			border-radius: 10px;
			&.prev {
				left: 0;
			}
			&.next {
				right: 0;
			}
			svg {
				width: 20px;
				height: 20px;
				line-height: 20px;
			}
		}
	}
	.slider-dots {
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);
		z-index: 2;
		.slider-dot {
			height: 10px;
			width: 20px;
			margin: 10px;
			border: none;
			cursor: pointer;
			padding: 0;
			background: #fafafa !important;
			border-radius: 5px;
			&.active {
				width: 30px;
				background: #2084f9 !important;
			}
		}
	}
}
